.card {
  width: 350px;
  margin: 30px;
}

.media {
  height: 200px;
}

.description-date {
  display: inline;
  position: relative;
  top: -7px;
  padding-left: 10px;
}

.icon {
  display: inline;
  padding-left: 15px;
}

.description-agent {
  display: inline;
}

.price {
  display: inline;
  position: relative;
  margin-left: 10px;
  font-size: 30px;
  top: 5px;
}

.link {
  text-decoration: none;
  color: #d81b60;
}

.button {
  position: relative;
  top: -7px;
}

.agent {
  display: inline;
  position: relative;
  left: 107px;
  bottom: 9px;
  color: #cccccc;
}
