.root {
  flex-grow: 1;
  background-color: white;
  height: 100%;
}

.pallete {
  background: #4527a0; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #4527a0 0%,
    #4527a0 50%,
    #de47ac 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #4527a0 0%,
    #4527a0 50%,
    #de47ac 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #4527a0 0%,
    #4527a0 50%,
    #de47ac 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4527a0', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.flex {
  flex: 1;
  margin-top: 60px;
}

.loading {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
  font-size: 24px;
}
.infoButtonMenu {
  font-size: 24px;
}

.badge {
  & span {
    left: -24px;
    top: -26px;
  }
}

.emptyData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.link {
  text-decoration: none;
  color: #d81b60;
}
.email {
  position: absolute;
  bottom: 35px;
  left: 75px;
}
.logo {
  left: 14px;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.info {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: none !important;
}
.travel-radar-header {
  color: #999999 !important;
  font-size: 20px !important;
  display: inline-block;
}
.travel-radar-info {
  color: #999999 !important;
  display: block;
  margin-top: 3px;
  position: relative;
  top: 8px;
}
.help {
  display: inline-block;
}

.flex-cards {
  display: flex;
  flex-direction: column;
}

.ask {
  position: absolute !important;
  right: 30px;
}

.flex-modal {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.reset-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  & button {
    background-color: #cccccc;
  }
  height: 60%;
  align-self: center;
}

.apply-filters-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  & button {
    background-color: #4527a0;
  }
  height: 60%;
  align-self: center;
}

.filter-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.nights-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.month-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.filters {
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(249, 249, 249, 0.6) 100%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(249, 249, 249, 0.6) 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(249, 249, 249, 0.6) 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#99f9f9f9',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  padding-right: 21px !important;
  margin-top: 0px !important;
}

.filterIcon {
  color: black;
}

@media (max-width: 490px) {
  .filter-list {
    flex-direction: column;
    align-content: center;
  }
  .reset-button {
    margin: 15px;
    width: 130px;
    height: 15px;
  }

  .apply-filters-button {
    width: 130px;
    margin: 15px;
    height: 15px;
  }

  .nights-item {
    padding: 10px;
    max-width: 80%;
  }

  .filter-item {
    padding: 10px;
    max-width: 80%;
  }

  .month-item {
    padding: 10px;
    max-width: 80%;
  }

  .flex {
    flex: 1;
    margin-top: 60px;
  }
}
